@page "/welcome"

@rendermode InteractiveServer

<PageTitle>Welcome - SmartBlaze</PageTitle>

<div id="pageRow">
    <span id="pageTitle"></span>
</div>

<div id="welcomePageContainer">
    <h1>Welcome to SmartBlaze!</h1>

    <br/>
    
    <h5>A user-friendly application for chatting with AI Models</h5>
    
    <br/>
    
    <h6>Already have an account? <NavLink href="/login">Log in</NavLink></h6>
    <h6>New here? <NavLink href="/register">Register Now</NavLink></h6>
</div>

